{% extends 'base.admin.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}    <!-- Modal Input -->
    <div class="modal fade" id="inputModalCenter" tabindex="-1" role="dialog" aria-labelledby="inputModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inputModalLongTitle">Paramètre du champ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-bold text-black-50">Nom du champ :</h6>
                    <input type="text" name="inputName" id="input_name" class="form-control mb-3">
                    <h6 class="font-weight-bold text-black-50">Type de champ :</h6>
                    <select name="inputType" id="input_type" class="form-control mb-3">
                        <option value="email">Email</option>
                        <option value="tel">Tel</option>
                        <option value="text">Texte</option>
                        <option value="number">Nombre</option>
                    </select>
                    <h6 class="font-weight-bold text-black-50">Placeholder :</h6>
                    <input type="text" name="inputPlaceholder" id="input_placeholder" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            onclick="addInput($('#input_name').val(),$('#input_type').val(),$('#input_placeholder').val())"
                            data-dismiss="modal">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal List -->
    <div class="modal fade" id="listModalCenter" tabindex="-1" role="dialog" aria-labelledby="listModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listModalLongTitle">Paramètre de la liste</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-bold text-black-50">Nom du champ :</h6>
                    <input type="text" name="selectName" id="select_name" class="form-control mb-3">
                    <h6 class="font-weight-bold text-black-50">Options : (nom:valeur)</h6>
                    <h6 class="text-black-50">Ajouter "n_" à la valeur pour rendre inéligible. <br>
                        (<b>exemple</b> : statut:<b>n_</b>locataire)</h6>

                    <textarea class="form-control" name="selectOptions" id="select_options"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            onclick="addList($('#select_name').val(),$('#select_options').val())" data-dismiss="modal">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-5 rounded bg-light shadow">
        <h1>{{ simulator.page.title }}</h1>
        {{ include('administration/simulator/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
        <div class="row">
            {{ include('administration/simulator/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/formEditor.js') }}"></script>
{% endblock %}