{% extends 'base.admin.html.twig' %}

{% block title %}New Simulator{% endblock %}

{% block body %}
    <div class="col-12 p-5 rounded bg-light shadow">
        <h1>Nouveau simulateur</h1>

        {{ include('administration/simulator/_form.html.twig') }}

        <a href="{{ path('simulator_index') }}">back to list</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $('#simulator_content').html('<div class="tab coord"><h6 class="font-weight-bold text-black-50">Mes coordonnées :</h6>\n' +
            '                                <div class="form-row">\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre nom..." oninput="this.className = \'form-control\'"\n' +
            '                                                  name="lead[nom]" class="form-control" minlength="2"></p>\n' +
            '                                    </div>\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre prénom..." oninput="this.className = \'form-control\'"\n' +
            '                                                  name="lead[prenom]" class="form-control" minlength="2"></p>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                                <p><input placeholder="Votre adresse..." oninput="this.className = \'form-control\'"\n' +
            '                                          name="lead[adresse]" class="form-control" minlength="8"></p>\n' +
            '                                <div class="form-row">\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre code postal..."\n' +
            '                                                  oninput="this.className = \'form-control\'" name="lead[codepostal]"\n' +
            '                                                  class="form-control" minlength="5"></p>\n' +
            '                                    </div>\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre ville..." oninput="this.className = \'form-control\'"\n' +
            '                                                  name="lead[ville]" class="form-control" minlength="2"></p>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                            <div class="tab coord"><h6 class="font-weight-bold text-black-50">Je reçois ma réponse personnalisée :</h6>\n' +
            '                                <p><input placeholder="E-mail..." oninput="this.className = \'form-control\'" name="lead[email]"\n' +
            '                                          class="form-control" type="email" minlength="8"></p>\n' +
            '                                <p><input placeholder="Phone..." oninput="this.className = \'form-control\'" name="lead[telephone]"\n' +
            '                                          class="form-control" type="tel" minlength="10"></p>\n' +
            '                            </div>')
    </script>
    <script src="{{ asset('js/formEditor.js') }}"></script>
{% endblock %}