{% extends 'base.admin.html.twig' %}

{% block title %}New Simulator{% endblock %}

{% block body %}
    <!-- Modal Input -->
    <div class="modal fade" id="inputModalCenter" tabindex="-1" role="dialog" aria-labelledby="inputModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inputModalLongTitle">Paramètre du champ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-bold text-black-50">Nom du champ :</h6>
                    <input type="text" name="inputName" id="input_name" class="form-control mb-3">
                    <h6 class="font-weight-bold text-black-50">Type de champ :</h6>
                    <select name="inputType" id="input_type" class="form-control mb-3">
                        <option value="email">Email</option>
                        <option value="tel">Tel</option>
                        <option value="text">Texte</option>
                        <option value="number">Nombre</option>
                    </select>
                    <h6 class="font-weight-bold text-black-50">Placeholder :</h6>
                    <input type="text" name="inputPlaceholder" id="input_placeholder" class="form-control">
                    <h6 class="font-weight-bold text-black-50 mt-3">Obligatoire ?:</h6>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="input_isRequired" name="input[isRequired]" class="d-inline-block custom-control-input" value="1">
                            <label class="switch-custom custom-control-label" for="input_isRequired">Ce champs est requis ?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            onclick="addInput($('#input_name').val(),$('#input_type').val(),$('#input_placeholder').val(),$('#input_isRequired').val())"
                            data-dismiss="modal">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal List -->
    <div class="modal fade" id="listModalCenter" tabindex="-1" role="dialog" aria-labelledby="listModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listModalLongTitle">Paramètre de la liste</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-bold text-black-50">Nom du champ :</h6>
                    <input type="text" name="selectName" id="select_name" class="form-control mb-3">
                    <h6 class="font-weight-bold text-black-50">Options : (nom:valeur)</h6>
                    <h6 class="text-black-50">Ajouter "n_" à la valeur pour rendre inéligible. <br>
                    (<b>exemple</b> : statut:<b>n_</b>locataire)</h6>
                    <textarea class="form-control" name="selectOptions" id="select_options"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            onclick="addList($('#select_name').val(),$('#select_options').val())" data-dismiss="modal">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-5 rounded bg-light shadow">
        <h1>Nouveau simulateur</h1>

        {{ include('administration/simulator/_form.html.twig') }}

        <a href="{{ path('simulator_index') }}">back to list</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $('#simulator_content').html('<div class="tab coord"><h6 class="font-weight-bold text-black-50">Mes coordonnées :</h6>\n' +
            '                                <div class="form-row">\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre nom..." oninput="this.className = \'form-control\'"\n' +
            '                                                  name="lead[nom]" class="form-control" minlength="2"></p>\n' +
            '                                    </div>\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre prénom..." oninput="this.className = \'form-control\'"\n' +
            '                                                  name="lead[prenom]" class="form-control" minlength="2"></p>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                                <p><input placeholder="Votre adresse..." oninput="this.className = \'form-control\'"\n' +
            '                                          name="lead[adresse]" class="form-control" minlength="8"></p>\n' +
            '                                <div class="form-row">\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre code postal..."\n' +
            '                                                  oninput="this.className = \'form-control\'" name="lead[codepostal]"\n' +
            '                                                  class="form-control" minlength="5"></p>\n' +
            '                                    </div>\n' +
            '                                    <div class="col-12 col-md-6">\n' +
            '                                        <p><input placeholder="Votre ville..." oninput="this.className = \'form-control\'"\n' +
            '                                                  name="lead[ville]" class="form-control" minlength="2"></p>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                            <div class="tab coord"><h6 class="font-weight-bold text-black-50">Je reçois ma réponse personnalisée :</h6>\n' +
            '                                <p><input placeholder="E-mail..." oninput="this.className = \'form-control\'" name="lead[email]"\n' +
            '                                          class="form-control" type="email" minlength="8"></p>\n' +
            '                                <p><input placeholder="Phone..." oninput="this.className = \'form-control\'" name="lead[telephone]"\n' +
            '                                          class="form-control" type="tel" minlength="10"></p>\n' +
            '                            </div>')
    </script>
    <script src="{{ asset('js/formEditor.js') }}"></script>
{% endblock %}