{% extends 'base.admin.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <div class="col-12 p-5 rounded bg-light shadow">
        <h1>{{ simulator.page.title }}</h1>

        {{ include('admin/simulator/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('simulator_index') }}">back to list</a>

        {{ include('admin/simulator/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function deleteThis(e){
            e.parentNode.remove();
            $('.editor').val($('#editable').html())
        }
        $(document).ready(function () {
            $('#editable').html($('.editor').val());
            $('.tab').append('<div class="actions" onclick="deleteThis(this)"><a href="#" class="btn btn-sm btn-danger"><i class="fas fa-times"></i> Supprimer</a>\</div>').addClass('rounded border p-5 col-4');
        });
        $('form').on('submit',function () {
            e.preventDefault();
            $('.tab').removeClass('bg-primary p-5 col-4');
            e.submit();
        })
    </script>
{% endblock %}