<form id="regForm" class="text-left" method="post" name="lead">
    {% if page.simulator %}
        {{ page.simulator.content|raw }}
    {% else %}
        <div class="tab">
            <h6 class="font-weight-bold text-black-50">J'habite :</h6>
            <select name="lead[logement]" id="type_logement" class="form-control mb-3">
                <option value="Maison">Une maison</option>
                <option value="Appart">Un appartement</option>
            </select>
            <h6 class="font-weight-bold text-black-50">J'ai un chauffage :</h6>
            <select name="lead[chauffage]" id="type_chauffage" class="form-control">
                <option value="Gaz">Gaz</option>
                <option value="Electrique">Electrique</option>
                <option value="Fioul">Fioul</option>
                <option value="Bois">Bois</option>
                <option value="Charbon">Charbon</option>
            </select>
        </div>

        <div class="tab">
            <h6 class="font-weight-bold text-black-50">Mes coordonnées :</h6>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <p><input placeholder="Votre nom..." oninput="this.className = 'form-control'"
                              name="lead[nom]" class="form-control" minlength="2"></p>
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        <input placeholder="Votre prénom..." oninput="this.className = 'form-control'"
                               name="lead[prenom]" class="form-control" minlength="2">
                    </p>
                </div>
            </div>
            <p>
                <input placeholder="Votre adresse..." oninput="this.className = 'form-control'"
                       name="lead[adresse]" class="form-control" minlength="8"></p>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <p><input placeholder="Votre code postal..."
                              oninput="this.className = 'form-control'" name="lead[codepostal]"
                              class="form-control" minlength="5"></p>
                </div>
                <div class="col-12 col-md-6">
                    <p><input placeholder="Votre ville..." oninput="this.className = 'form-control'"
                              name="lead[ville]" class="form-control" minlength="2"></p>
                </div>
            </div>
        </div>

        <div class="tab"><h6 class="font-weight-bold text-black-50">Je reçois ma réponse personnalisée :</h6>
            <p><input placeholder="E-mail..." oninput="this.className = 'form-control'" name="lead[email]"
                      class="form-control" type="email" minlength="8"></p>
            <p><input placeholder="Phone..." oninput="this.className = 'form-control'" name="lead[telephone]"
                      class="form-control" type="tel" minlength="10"></p>
            <input type="hidden" hidden value="{{ page ? page.id : '0' }}" name="lead[page]">
        </div>



    {% endif %}
    <div class="form-row mt-3">
        <div class="col-6 text-left">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)"
                    class="btn text-white bg-custom">Précèdent
            </button>
        </div>
        <div class="col-6 text-right">
            <button type="button" id="nextBtn" onclick="nextPrev(1)"
                    class="btn text-white bg-custom">Suivant
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <small class="text-black-50">Progression</small>
        </div>
    </div>
    <div class="row step_container shadow">
        <span class="col step p-1 finish"></span>
        <span class="col step p-1 text-center text-small percent text-white">33%</span>
        <span class="col step p-1"></span>
    </div>
</form>
