{% extends 'base.html.twig' %}

{% block title %}MA POMPE A CHALEUR{% endblock %}

{% block body %}

    <div class="row align-items-center">
        <div class="col-2 d-none d-md-inline-block col-md-2 text-center rounded border pt-3 pb-3">
            <span class="h2 mb-0 pb-0 text-custom">1337</span> <br>
            <span>partages</span>
            <button class="btn btn-sm btn-primary mt-2 w-100"><i class="fab fa-facebook-f"></i> FACEBOOK</button>
            <button class="btn btn-sm btn-primary mt-2 w-100"><i class="fab fa-twitter"></i> TWITTER</button>
        </div>

        <div class="col-12 col-md-10 text-black-50">
            <h1 class="h2"> Une simple recherche sur internet pour en terminer avec mes factures de chauffage facilement
                !</h1>
            <div class="row align-items-center">
                <div class="col-xs pl-3">
                    <i class="far fa-newspaper fa-2x text-custom"></i></div>
                <div class="col">Posté le 18.02.2020</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr style="opacity: .5">
            <p class="h5 text-black-50 text-sm-justify text-md-left">Si comme moi (et de nombreux français), vous êtes proprietaires et vous pensez
                que vos factures de
                chauffage sont trop chères, alors cet article peut vous intéresser.
                <br>
                <br>
                Pour éviter de se retrouver comme chaque année avec des factures d’énergies délirantes, j’ai cherché sur
                internet une solution alternative.
                <br>
                <br>
                Après plusieurs heures de recherches, tous les experts du secteur s’accordent à dire que la pompe à
                chaleur est l’option la plus rentable et viable. Rentabilisée en moins de 5 ans, la pompe à chaleur
                abaisse drastiquement vos factures de chauffage (de -50% à -75%) pour une utilisation sans retenu. <br>
                <br>
                <b class="text-custom"><strong>Dans mon cas, ce serait un gain approx. de 2000€ par an ! Trop beau pour
                        être vrai… ?</strong></b></p>
        </div>
    </div>
    <div class="row bg-light rounded mt-5 mb-5">
        <div class="col-12 p-5">
            <p class="h5 text-black pt-3">
                <i class="fas fa-quote-right fa-flip-horizontal text-custom"></i> La Pompe à chaleur dans le top 3 des
                installations favorites des Français ayant changé leur système de chauffage ces 3 dernières années. <i
                        class="fas fa-quote-right text-custom"></i>
            </p>
        </div>
    </div>

    <div class="row text-center p-0 p-md-5">
        <div class="col-12 mb-3">
            <h3 class="text-custom text-center"><i class="fas fa-info-circle d-none d-md-inline"></i> UNE CHAUDIERE PERFORMANTE COMMENT CA MARCHE ?</h3>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-hard-hat text-custom fa-4x mb-3"></i> <br>
                <b><strong>VISITE TECHNIQUE GRATUITE</strong></b>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-fire text-custom fa-4x mb-3"></i> <br>
                <b><strong>CHAUDIERE GRATUITE</strong></b>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-tools text-custom fa-4x mb-3"></i> <br>
                <b><strong>INSTALLATION GRATUITE</strong></b>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-8">
            <hr style="opacity: .5">
            <p class="h5 text-black-50">
                Mais pourquoi les français sont-ils aussi enthousiastes pour un dispositif comme la PAC ?
                <br>
                <br>
                La réponse se trouve dans les <b> €€€</b> : l’Etat met la main au portefeuille pour vous aider financer
                jusqu’à 90% du projet. J’ai fait la simulation et c’est bon, je suis éligible comme la majorité des
                français.
                <br>
                <br>
                Heureusement qu’il y a les aides financières proposées par l’Etat, ça m’a beaucoup aidé à prendre la
                décision finale. En effet, si comme moi vous êtes éligibles, vous obtiendrez jusqu’à 90% du financement.
                <br>
                <br>
                Plus de confort et un gain immédiat de plusieurs milliers d’euros sur mes factures de chauffage, je ne
                regrette pas d’avoir creusé sur le sujet.
                <br>
                <br>
                Merci le gouvernement et merci internet !
                <br>
                <br>
                A bon entendeur.
                <br>
                <br>
                Sam
            </p>
        </div>
        <div class="col-12 col-md-4 p-3 text-center">
            <img class="rounded shadow" src="//energi.es/img/pompe-a-chaleur-air-eau-min.png"
                 alt="Pome à chaleur à air et a eau" width="100%">
            <button class="btn bg-custom text-black mt-3 w-100 text-white">MA POMPE A CHALEUR GRATUITE !</button>
            <h4 class="text-custom text-center mt-3"><i class="fas fa-info-circle d-none d-md-inline"></i> POURQUOI C'EST GRATUIT ?</h4>
            <span class="text-black-50">grace à</span>
            <img src="//energi.es/img/tecv.png" alt="La transition énergetique pour la croissance verte" class="rounded border">
        </div>
    </div>

    <div class="row rounded bg-light p-0 pt-5 pb-5 p-md-5 mt-5 mb-5">
        <div class="col-12">
            <h3 class="text-custom"><i class="fas fa-info-circle d-none d-md-inline d-none d-md-inline"></i> ET SINON QUELS SONT LES AVANTAGES DE LA POMPE À
                CHALEUR ?</h3>
            <p class="h5 text-black-50">
                Une <b><strong>facture de chauffage réduite jusqu’à 70%</strong></b>, les nouvelles pompes à chaleur
                présentent des coefficients de performance (COP) très élevés ce qui vous offre un rendement maximal.
                <br><br>
                Un confort d’utilisation car elles permettent de <b><strong>chauffer l’hiver mais aussi de climatiser
                        l’été</strong></b>. Cela permet une température stable dans toute la maison tout au long de
                l’année.
                <br><br>
                Un comportement responsable grâce à une énergie propre qui <b><strong>ne produit aucun déchet, ni
                        odeur</strong></b>. L’énergie émise est puisée dans l’air extérieur, une ressource gratuite et
                inépuisable.
                <br><br>
                Les dernières innovations, et plus particulièrement les systèmes intelligents intégrés permettent de
                programmer et piloter à distance votre pompe à chaleur. Vous pouvez <b><strong>choisir la température en
                        fonction de l’utilisation des pièces</strong></b> de votre logement.
            </p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h3 class="text-custom text-uppercase"><i class="fas fa-question-circle d-none d-md-inline"></i> MAIS Pourquoi bénéficier d'une
                <b><strong>Pompe à Chaleur ?</strong></b></h3>
            <p class="h5 text-black-50">
                Le principe de la pompe à chaleur est d'extraire de l'énergie à l'extérieur de l'habitation pour
                l'injecter à l'intérieur par le biais d'un radiateur, d'un plancher chauffant ou d'un ventilo-convecteur
                en fonction du type d'installation choisi.
                <br><br>
                <b><strong>Une pompe à chaleur est un moyen de chauffage qui se substitue par exemple à la chaudière à
                        fioul, gaz ou à vos convecteurs électriques</strong></b>
                <br><br>
                Grâce à ce dispositif, votre chauffage devient <b><strong>éco-financé</strong></b> et vous <b><strong>maitrisez
                        vos factures</strong></b>.
                <br><br>
                Lorsque un artisan intervient pour réaliser l'installation chez vous, il s'occupe de toutes les
                démarches administratives (longues et complexes) pour vous permettre d'obtenir le maximum d'aides
                possibles.
            </p>

            <button class="btn mt-3 w-100 bg-custom text-white">Profitez-en en moins de 30 secondes. C'est facile,
                rapide et sans engagement !
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h3 class="text-custom text-uppercase"><i class="fas fa-comments"></i> ILS L'ONT ADOPTé</h3>
            <p class="h5 text-black-50">
                Vous hésitez encore ? Voici les derniers avis au sujet des pompes à chaleur... .
            </p>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="col-12 bg-light rounded p-3 text-center mb-3">
                        <img src="//energi.es/img/avis-01.png" alt="Proprietaire d'une pompe a chaleur"
                             class="rounded-circle shadow" width="75">
                        <br>
                        <p class="h5 mt-3 text-custom">Cyril</p>
                        <p class="small text-black-50">38ans, Maxéville</p>
                        <p class="h5 font-italic text-black-50">
                            Depuis mon installation d'une pompe à chaleur, j'ai fait des <b><strong>économies de plus de
                                    70%</strong></b> sur ma facture !
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="col-12 bg-light rounded p-3 text-center mb-3">
                        <img src="//energi.es/img/avis-01.png" alt="Proprietaire d'une pompe a chaleur"
                             class="rounded-circle shadow" width="75">
                        <br>
                        <p class="h5 mt-3 text-custom">Cyril</p>
                        <p class="small text-black-50">38ans, Maxéville</p>
                        <p class="h5 font-italic text-black-50">
                            Depuis mon installation d'une pompe à chaleur, j'ai fait des <b><strong>économies de plus de
                                    70%</strong></b> sur ma facture !
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="col-12 bg-light rounded p-3 text-center">
                        <img src="//energi.es/img/avis-01.png" alt="Proprietaire d'une pompe a chaleur"
                             class="rounded-circle shadow" width="75">
                        <br>
                        <p class="h5 mt-3 text-custom">Cyril</p>
                        <p class="small text-black-50">38ans, Maxéville</p>
                        <p class="h5 font-italic text-black-50">
                            Depuis mon installation d'une pompe à chaleur, j'ai fait des <b><strong>économies de plus de
                                    70%</strong></b> sur ma facture !
                        </p>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <p class="text-center text-uppercase text-custom">
                        <b>avis des internautes (1337)</b> <br>
                        <img src="//energi.es/img/avis-internautes.png" alt="">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded bg-light p-0 pt-5 pb-5 p-md-5 mt-5 mb-5 align-items-center">
        <div class="col-12 col-md-6 mt-3">
            <h3 class="text-custom text-uppercase"><i class="fas fa-info-circle d-none d-md-inline"></i> Les pompes à chaleur éligibles</h3>
            <p><b><strong>Pompe à chaleur air-eau</strong></b> : se raccorde au système de chauffage central de l’habitation et produit l’eau
                chaude sanitaire. La chaleur est répandue dans le logement via un plancher chauffant ou des radiateurs
                basse température.
                <br>
                <br>
            <hr>
                <br>
                <b><strong>Pompe a chaleur air-air</strong></b> : assure la fraîcheur de l’intérieur en été et la chaleur en hiver. Elle ne
                nécessite que peu d’entretien et ne necessite pas de radiateur pour diffuser la chaleur.</p>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <img src="//energi.es/img/comment-fonctionne-les-pompes-a-chaleur.jpg"  alt="Comment fonctionne les pompes à chaleur ?" width="100%" class="rounded shadow-sm">
        </div>
    </div>

    <div class="row text-center p-5">
        <div class="col-12 mb-3">
            <h3 class="text-custom text-center"><i class="fas fa-info-circle d-none d-md-inline"></i> FAITES DES ÉCONOMIES !</h3>
        </div>
        <div class="col-12 col-md-4">
            <i class="fab fa-creative-commons-nc-eu fa-4x mb-3 text-custom"></i> <br>
           <b><strong>DES ÉCONOMIES DURABLES</strong></b> <br>
           <span class="text-black-50">Une facture de chauffage en baisse</span>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-globe-europe fa-4x mb-3 text-custom"></i> <br>
            <b><strong>UN LOGEMENT VALORISÉ</strong></b> <br>
            <span class="text-black-50">Plus de valeur sur le marché immobilier !</span>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-igloo fa-4x mb-3 text-custom"></i> <br>
            <b><strong>PLUS DE CONFORT</strong></b> <br>
            <span class="text-black-50">Toute la famille passe l'hiver au chaud !</span>
        </div>
    </div>

{% endblock %}
