<div class="container-fluid">
    <div class="row p-3 p-lg-5">
        <div class="col-12 col-lg-6 bg-light p-1 p-md-5">
            <div class="col-12 p-5 p-md-0">
                <h4 class="text-custom font-weight-bold">Pourquoi c’est gratuit ?</h4>
                <h3 class="text-uppercase text-warning"> Grâce à Ma Prime Renov' !</h3>
                <p class="text-black-50 h5 mb-3">
                    Depuis 2019, le ministère de la Transition Écologique et Solidaire a mis à disposition des
                    ménages la
                    Prime à la conversion chaudière ou autrement appelée « Coup de Pouce chauffage ».
                    <br>
                    <br>
                    Selon vos revenus, vous pouvez bénéficier d’une aide financière pour vos projets d’économies
                    d’énergie.
                    Grâce à cette aide financière et en tant que signataire de la charte, HELLIO installe chez vous
                    votre
                    nouvelle chaudière gaz ou chaudière biomasse à très haut rendement.
                </p>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center text-md-left mb-3 mb-mb-0">
                        <a href="#eligibilite" class="btn btn-lg bg-custom text-white">J'en profite</a>
                    </div>
                    <div class="col-12 col-md-6 text-center text-md-right">
                        <img src="/img/tecv.png" alt="" style="max-width: 100%" class="rounded border" height="75px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 p-0 m-0 mt-4 mt-lg-0">
            <img src="/img/video-serigne.jpg" alt="" width="100%">
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-12 p-3">
            <h5 class="h2 text-uppercase text-warning text-center font-weight-bold">Mais comment ça marche
                ?</h5>
        </div>
    </div>

    <div class="row p-3 p-lg-5">
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fas fa-desktop text-warning fa-4x"></i>
            <br>
            <p class="text-primary mt-3 h4">Etape 1</p>
            <br>
            <p class="text-black-50 mt-3 h4">Inscrivez-vous en ligne <br>
                dès maintenant. <br>
                Ça ne prend qu’une minute !</p>
        </div>
        <div class="col-12 col-lg-4 p-5 text-center">
            <i class="fas fa-hard-hat text-warning fa-4x"></i>
            <br>
            <p class="text-primary mt-3 h4">Etape 1</p>
            <br>
            <p class="text-black-50 mt-3 h4">Inscrivez-vous en ligne <br>
                dès maintenant. <br>
                Ça ne prend qu’une minute !</p>
        </div>
        <div class="col-12 col-lg-4 p-5 text-center">
            <i class="fas fa-burn text-warning fa-4x"></i>
            <br>
            <p class="text-primary mt-3 h4">Etape 1</p>
            <br>
            <p class="text-black-50 mt-3 h4">Inscrivez-vous en ligne <br>
                dès maintenant. <br>
                Ça ne prend qu’une minute !</p>
        </div>
    </div>

    <div class="row align-items-center bg-light m-lg-4">
        <div class="col-12 col-lg-6 p-1 p-md-5">
            <div class="col-12 p-5">
                <h3 class="text-uppercase text-warning">Votre nouvelle chaudière gaz</h3>
                <ul class="list-unstyled h5 mt-3 mt-md-5 text-black-50">
                    <li class="mb-3"><i class="fas fa-star text-warning"></i> Chaudière gaz condensation à très
                        haute performance énergétique
                    </li>
                    <li class="mb-3"><i class="fas fa-star text-warning"></i> Installateurs qualifiés RGE</li>
                    <li class="mb-3"><i class="fas fa-star text-warning"></i> Rendement saisonnier supérieur à 92 %
                    </li>
                    <li class="mb-3"><i class="fas fa-star text-warning"></i> Classe d’efficacité énergétique A</li>
                    <li class="mb-3"><i class="fas fa-star text-warning"></i> Chaudière de 24 kW assurant le
                        chauffage et l’eau chaude sanitaire
                    </li>
                    <li><i class="fas fa-star text-warning"></i> Modulation de la puissance permettant de chauffer
                        de manière économique
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-6 p-1 p-md-5">
            <div class="row align-items-center pr-5 pr-md-0 text-center">
                <div class="col-6">
                    <img src="/img/chaudiere-daikin.png" alt="Chaudiere" height="400px">
                </div>
                <div class="col-6">
                    <span class="display-1 text-warning font-weight-bold" style="font-size:11em;text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);">0<small class="display-4">€*</small></span>
                    <br>
                    <a href="#eligibilite" class="btn btn-lg bg-custom text-white">J'en profite</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 p-3 text-center">
            <p class="text-black-50 font-weight-bold">Votre chaudière gratuite</p>
            <h5 class="h2 text-uppercase text-warning text-center font-weight-bold">EXPERTS EN REMPLACEMENT DE CHAUDIÈRES !</h5>
        </div>
    </div>
    <div class="row ml-lg-2 mr-lg-2 mt-lg-5 mb-lg-5">
        <div class="col-12 col-lg-3 p-0">
            <div class="col-12">
                <img src="/img/video-alain.jpg" alt="Vidéo alain" width="100%">
                <p class="text-primary mt-3 h4 mb-0">Alain L.</p> <br>
                <p class="text-black-50 h4">Client SimulationEnergie.fr</p>
            </div>
        </div>
        <div class="col-12 col-lg-3 p-0">
            <div class="col-12">
                <img src="/img/video-alain.jpg" alt="Vidéo alain" width="100%">
                <p class="text-primary mt-3 h4 mb-0">Alain L.</p> <br>
                <p class="text-black-50 h4">Client SimulationEnergie.fr</p>
            </div>
        </div>
        <div class="col-12 col-lg-3 p-0">
            <div class="col-12">
                <img src="/img/video-alain.jpg" alt="Vidéo alain" width="100%">
                <p class="text-primary mt-3 h4 mb-0">Alain L.</p> <br>
                <p class="text-black-50 h4">Client SimulationEnergie.fr</p>
            </div>
        </div>
        <div class="col-12 col-lg-3 p-0">
            <div class="col-12">
                <img src="/img/video-alain.jpg" alt="Vidéo alain" width="100%">
                <p class="text-primary mt-3 h4 mb-0">Alain L.</p> <br>
                <p class="text-black-50 h4">Client SimulationEnergie.fr</p>
            </div>
        </div>
    </div>


    <div class="row align-items-center bg-light m-2 m-lg-4 p-5">
        <div class="col-12  text-center">
            <h4 class="text-warning text-uppercase font-weight-bold">Pourquoi changer votre chaudière gaz ?</h4>
        </div>
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fab fa-creative-commons-nc-eu text-custom fa-4x"></i>
            <br>
            <p class="text-warning mt-3 h4">CHAUFFAGE ÉCONOMIQUE</p>
            <br>
            <p class="text-black-50 h5">Jusqu’à 25% d’économies chaque mois
                par rapport à votre ancienne chaudière</p>
        </div>
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fab fa-cloudscale text-custom fa-4x"></i>
            <br>
            <p class="text-warning mt-3 h4">PRENEZ LA MAIN SUR VOTRE CONSOMMATION</p>
            <br>
            <p class="text-black-50 h5">Thermostat d’ambiance pour piloter votre confort et garder le contrôle sur vos factures</p>
        </div>
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fas fa-home text-custom fa-4x"></i>
            <br>
            <p class="text-warning mt-3 h4">VALORISEZ VOTRE PATRIMOINE</p>
            <br>
            <p class="text-black-50 h5">Un équipement de chauffage neuf,
                économe et design : un critère recherché</p>
        </div>
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fas fa-bolt text-custom fa-4x"></i>
            <br>
            <p class="text-warning mt-3 h4">ÉNERGIE ÉCONOME, AU COÛT ENCADRÉ</p>
            <br>
            <p class="text-black-50 h5">Une énergie plus économe que l’électricité
                ou le fioul. Prix encadrés par l’État
            </p>
        </div>
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fas fa-eye text-custom fa-4x"></i>
            <br>
            <p class="text-warning mt-3 h4">DESIGN MODERNE</p>
            <br>
            <p class="text-black-50 h5">Une ligne moderne qui s’intégrera
                parfaitement à votre intérieur</p>
        </div>
        <div class="col-12 col-lg-4 p-3 p-md-5 text-center">
            <i class="fas fa-globe-europe text-custom fa-4x"></i>
            <br>
            <p class="text-warning mt-3 h4">BON POUR LE CLIMAT</p>
            <br>
            <p class="text-black-50 h5">Une combustion qui libère moins de CO2 :
                réchauffez chez vous, pas le climat !</p>
        </div>
        <div class="col-12 text-center">
            <a href="#" class="btn btn-lg bg-custom text-white">J'en profite</a>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-12 p-3 text-center">
            <p class="text-black-50 font-weight-bold">Nos offres gratuite</p>
            <h5 class="h2 text-uppercase text-warning text-center font-weight-bold">VOUS FAIRE ÉCONOMISER, DEPUIS DES ANNÉES :</h5>
            <h5 class="text-black-50">En 2016, nous réduisions votre facture d’éclairage grâce à Mes Ampoules Gratuites. <br>
                Depuis 2017, nous optimisons l’isolation de votre maison grâce à Mes Combles Gratuits, Isoler Mon Plancher et Mon Calorifugeage Gratuit.
                <br>
                Nous avons enrichi notre savoir-faire : une expertise des solutions gratuites clés-en-main, pensées pour vous.</h5>
        </div>
    </div>
    <div class="row p-lg-4">
        <div class="col-12 col-lg-4">
            <div class="col-12 bg-custom p-2 rounded text-center">
                <img src="/img/simulation-energier-logo.png" alt="Logo simulation-energie.fr" style="max-width: 300px" width="50%">
                <div class="col-12 bg-white rounded mt-3 p-3">
                    <h5 class="text-custom p-0 m-0">
                        4M de maisons équipées
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
            <div class="col-12 bg-custom p-2 rounded text-center">
                <img src="/img/simulation-energier-logo.png" alt="Logo simulation-energie.fr" style="max-width: 300px" width="50%">
                <div class="col-12 bg-white rounded mt-3 p-3">
                    <h5 class="text-custom p-0 m-0">
                        4M de maisons équipées
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
            <div class="col-12 bg-custom p-2 rounded text-center">
                <img src="/img/simulation-energier-logo.png" alt="Logo simulation-energie.fr" style="max-width: 300px" width="50%">
                <div class="col-12 bg-white rounded mt-3 p-3">
                    <h5 class="text-custom p-0 m-0">
                        4M de maisons équipées
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 text-center p-5">
            <a href="#eligibilite" class="btn btn-lg bg-custom text-white">J'en profite</a>
        </div>
    </div>


    <div class="row align-items-center bg-light m-2 m-lg-4 p-5 text-center">
        <div class="col-12">
            <i class="fas fa-headset text-custom fa-4x"></i>
        </div>
        <div class="col-12 mt-3">
            <p class="h5 text-uppercase text-warning">
                UNE QUESTION ? <br>
                CONTACTEZ-NOUS PAR TÉLÉPHONE OU PAR MAIL</p>
        </div>
        <div class="col-12 mt-3">
            <p class="h5 text-custom">
                TEL: <a href="tel:0272240350">02 72 24 03 50</a> <br>
                MAIL: <a href="mailto:contact@simulation-energie.fr">contact@simulation-energie.fr</a></p>
        </div>
        <div class="col-12 mt-5">
            <img src="/img/simulation-energie-logo-black.png" alt="Logo simulation-energie.fr" style="max-width: 200px;opacity: .5" width="50%">
        </div>
    </div>

</div>