{% extends 'base.admin.html.twig' %}

{% block title %}MA POMPE A CHALEUR{% endblock %}
{% block body %}

    <div class="col-12 p-5 rounded bg-light shadow">

        <strong class="h4"><b> Politique de confidentialité</b></strong>
        <br>
        <br>
        Au sein de <b>simulation-energies.fr</b>, le respect de la vie privée représente un enjeu majeur et nous
        nous engageons à la protéger.
        <br><br>
        Conformément au Règlement Général sur la Protection des Données ( « RGPD » ou « GDPR » en anglais), cette
        politique a pour but de préciser quand, pourquoi et comment notre société :
        <br><br>
        <ul class="ml-0 ml-md-5">
            <li>Recueillent des données personnelles relatives à une personne physique</li>
            <li>Utilisent ces informations</li>
            <li>Communiquent de telles données à un tiers, lorsque cela s'avère nécessaire et dans certaines
                conditions
            </li>
            <li>Assurent la confidentialité de ces données personnelles</li>
        </ul>
        <br>
        <b>Qui sommes-nous ?</b>
        <br><br>
        Vous pouvez retrouver nos coordonnées dans nos informations légales.
        <br><br>
        En tant qu'utilisateur, dans le cadre de votre visite sur ce site internet et de vos relations avec
        <a href="//ma-simulation-energies.fr"><b>ma-simulation-energies.fr</b></a>, <b>ma-simulation-energies.fr</b> est
        responsable du traitement de vos données
        personnelles.
        <br><br>
        <b>Quelles sont les données personnelles recueillies ?</b>
        <br><br>
        Nous pouvons recueillir et traiter les données personnelles suivantes :
        <br><br>
        <ul  class="ml-0 ml-md-5">
            <li>
                Les données personnelles que vous nous fournissez : il s'agit de renseignements que vous nous fournissez
                de
                votre plein gré en saisissant des informations via :
            </li>
            <li  class="ml-0 ml-md-5">Notre site internet</li>
            <li  class="ml-0 ml-md-5"> Nos plateformes de réseaux sociaux</li>
            <li  class="ml-0 ml-md-5">Une correspondance avec nous par voie téléphonique, e-mail ou tout autre moyen</li>
        </ul>
        <ul class="ml-0 ml-md-5">
            <li>
                Les données personnelles que nous pouvons recueillir automatiquement : il s'agit de renseignements relatifs
                à votre comportement sur internet :
            </li>
            <li class="ml-0 ml-md-5"> Actions sur les sites internet et visites de nos sites internet, dont : les données relatives au trafic, à
                la localisation, et aux ressources utilisées pour naviguer sur internet</li>
            <li class="ml-0 ml-md-5"> Informations techniques, automatiquement recueillies, y compris les données anonymes recueillies par le
                serveur d'hébergement à des fins statistiques, l'adresse IP (Internet Protocol) utilisée pour connecter
                votre ou appareil à Internet, le type et la version du navigateur, le réglage du fuseau horaire, les types
                et les versions de plug-in du navigateur, le système d'exploitation et la plateforme. Consultez la partie
                consacrée aux cookies pour plus d'informations</li>
            <li class="ml-0 ml-md-5">Toute donnée personnelle, dont vous autorisez le partage, qui fait partie de votre profil public ou d'un
                réseau social tiers</li>
            <li>   Les données personnelles que nous pouvons recevoir d'autres sources : il s'agit de renseignements vous
                concernant, provenant de sources extérieures à notre société.</li>
        </ul>

        <br>
        <strong class="h4"><b>   Mentions légales</b></strong><br>
        <b>Informations légales</b>

        <br><br>
        En complétant et en validant ce formulaire, vous acceptez d’être rappelé par nos partenaires. Ces derniers
        vous présenteront le produit concernant votre demande et répondront à vos éventuelles questions.
        <br><br>
        Si vous ne souhaitez pas faire l’objet de démarchage téléphonique, vous pouvez vous inscrire sur la liste
        d’opposition sur le site : <a href="www.bloctel.gouv.fr"><b>www.bloctel.gouv.fr</b></a>

        <br><br>
        En validant ce formulaire confidentiel et sans engagement, j’accepte de recevoir gratuitement et sans
        engagement plusieurs offres de professionnels à proximité de mon domicile. Conformément à la loi
        informatique et libertés du 06 janvier 1978, je dispose d’un droit d’accès et de rectification aux données
        exerçable à <a href="mailto:contact@simulation-energie.fr"><b>contact@simulation-energie.fr</b></a>
    </div>

{% endblock %}
