{% extends 'base.admin.html.twig' %}

{% block title %}Lead index{% endblock %}

{% block body %}
   <div class="col-12 p-5 rounded bg-light shadow">
       <h1>Administration
           <span class="float-right">
                  <a href="{{ path('export_lead') }}" class="btn bg-custom text-white"><i class="fas fa-download"></i> Exporter les nouveaux leads</a>
           </span>
       </h1>
       <div class="row">
           <div class="col-12">
               <a href="{{ path('lead_index') }}" class="btn bg-custom text-white">Gestion des Leads</a>
               <a href="{{ path('page_index') }}" class="btn bg-custom text-white">Gestion des Pages</a>
               <a href="{{ path('form_index') }}" class="btn bg-custom text-white">Gestion des Pages</a>
           </div>
       </div>
   </div>
{% endblock %}
